#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
.travel_maindiv img{
 width:100%;   
}
.travel_maindiv hr{
 width:275px;   
    
}